<div class="container">
  <app-navi></app-navi>
  <div class="row mt-3">
    <div class="col-md-4">
      <h3>Markalar</h3>
      <app-brand></app-brand>
    </div>
    <div class="col-md-8">
      <h3>Arabalar</h3>
      <router-outlet></router-outlet>
    </div>
  </div>


</div><br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Renkler</h3>
      <app-color></app-color>
    </div>
    <div class="col-md-8">
      <h3>Kiralanan Araçlar</h3>
      <app-rental></app-rental>
    </div>
  </div>
</div><br>
<div class="container">
  <app-customer></app-customer>
</div>



